body{
    background-color: #B58AA8 !important;
    color: #1C0F15;
}
/* Home routes */
.cvCoverRoot{
    height: 100vh;
}
.ghcvWrapper{
    position: absolute;
    top:80%;
    right:0;
    left:0;
    text-align: center;
}
.ghcv a{
    color:wheat;
    position: relative;
    font-size: 1rem;
    text-decoration: none;
}
.ghcv a:hover{
    color:rgba(245,222,179,0.6);
}

.ghcv--link{
    position: relative;
}

.cvRoot{
    height: 172rem;
}
.outsidePaper{
    background-color:white;
    margin:4em auto;
    position: absolute;
    left:0;
    right: 0;
    border-radius: 5px;
    padding-bottom: 3em;
    box-shadow: 8px 10px 5px rgba(10, 0, 10, 0.3);
    border-radius: 5px;
}

.homeWrapper{
    width:60em;
    top:0;
    height:90em;
}

.motivationWrapper{
    width:60em;
    top:95rem;
    height:68em;
}

.motivationWrapper .name{
    text-align: center;
}
.paragraph{
    text-indent: 2rem;
    text-align: justify;
}

.paragraph--poli{
    margin-top: 4rem;
}

.paragraph:nth-child(2){
    margin-top: 2rem;
}

.motivationWrapper footer{
    margin-top: 2rem;
}


.contentWrapper{
    position:relative;
    height: 100%;
    top: -1.5em;
    padding: 6em 5em !important;
}

.organic--title{
    position: absolute;
    top:43%;
    left: 0;
    right: 0;
}
.organic{
    height: 100%;
}

.organic + a{
    text-decoration: none !important;
}
.organic + a:hover{
    text-decoration: none !important;
    cursor: pointer;
}
.organic--title button{
    color: wheat;
    font-weight: 600;
    font-family: Noto Serif SC, serif;
    width: 3.5em;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 2rem;
    border: 1px wheat solid;
    border-radius: 10px;
    box-shadow: 0 8px rgba(245,222,179,0.8);
    background-color: transparent;
    outline: none;
}
.organic--title button:hover {
    background-color: rgba(245,222,179,0.3)
}

.organic--title button:active {
  background-color: rgba(245,222,179,0.3);
  box-shadow: 0 4px rgba(245,222,179,0.8);
  transform: translateY(4px);
}

.letter{
    opacity: 0;
}

.header{
    height: 15%;
}

.section1{
    height: 38%;
}

.section2{
    height: 45%;
}
.gobackbtn{
    position: absolute !important;
    left:4rem;
    top:1rem;
}
.gobackbtn span{
    color:wheat;
    display: inline-block;
}

/* nameCard */
.presentationCard{
    position: absolute;
    left: 0;
    right:0;
}
.presentation--header{
    display: flex;
    justify-content: space-between;
}
.name{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 900;
}
.subtitle{
    background-color: #5B3256;
    color: white;
    padding: 0.1em 0.3em;
    font-weight: bold !important;
    text-align: center;
    border-radius: 5px;
}
.presentation-subtitle{
    width: 6em;
    height: 1.8em;
    margin-left: 2em;
    position: absolute;
    left: 10rem;
    top: 1.2rem;
}

.presentation--citation{
    margin: 0.5em 0;
    letter-spacing: 0.24em;
}

.presentation--icons{
    width: 6em;
    display: flex;
    justify-content: space-evenly;
}
/* Circle Component Style */
.circle{
    height:20em;
    width:20em;
    visibility: hidden;
}
.circle1{
    position: absolute;
    top:0em;
    left:40em;
}

.circle2{
    position: absolute;
    top:60em;
    left:0em;
}

.photoCard{
    padding: 1em;
    width: 9em;
    z-index: 2;
    position: absolute;
    right: 0;
}

.photo{
    height: 9.5em;
}

/* skillCard Component */
.skillsCard{
    position: absolute;
    left: 0;
    width: 24.7em;
}
.skill{
    display: flex;
    justify-content: space-between;
    height: 1.5em;

}
.skill--tech{
    font-weight: bold;
    position: relative;
}
.skill--icon{
    font-size: 1.2em; 
    position: relative;
    top:0.4em;
    margin-right: 0.3em;
}

.Typescript{
    display: block;
    margin-left:1.9rem;
    margin-top:-1.35rem;
}

.dot{
    font-size: 0.5em;
    margin-right: 0.6em;
}
.fab, .fa-database, .fa-server, .fa-copyright, .fa-tools, .fa-cog{
    width: 1.3em !important;
    height: 1.2em  !important;
}
.skill--others{
    margin-top: 0.8em;
}

/* educationCard */
.educationCard{
    position: absolute;
    /* left: 0; */
    width: 25.5em;
    margin-top: 11rem;
    right: 0;
}
.serif-subtitle{
    font-family: 'Noto Serif SC', serif;
}

.university > div{
  
    padding: 0.1em;
}
.item{
    text-align: justify;
}
.item:first-child {
    margin-top: 0.5rem;
}
.item--link{
    margin-bottom: 0.2rem;
    text-decoration: none;
    display: inline-block;
    color:#7986cb
}
.item--link:hover{
    text-decoration: none;
}
.item--item0{
    font-weight: 900;
}

.item--item1{
    font-weight: 400;
}

.item--item2{
    font-weight: 400;
}

/*otherExperienceCard*/
.personalProjectCard
{
    position: absolute;
    left: 0;
    width: 24.7rem;
    margin-top: -1.5em;
}

/*otherExperienceCard*/
.otherExperienceCard{
    position: absolute;
    right: 0;
    margin-top: 11em;
}


.experienceCard{
    position: absolute;
    right: 0;
}

/* phenix stage */
.jobContentItem{
    position: relative;
}

.jobContent--titre{
    width: 150px;
    font-weight: 900;
    margin-top: 0.3em;
}
.jobContent{
    margin-top: 0.5em;
}
.tech-chip{
    margin: 0.1em;
}
/* interest card */
.interestCard{
    margin-top: 32rem;
    position: absolute;
    left: 0;
    width: 24.7em;
    height: 8.9em;
}

.hobby{
    border: unset;
}
.hobbyWrapper{
    margin-top:0.3em ;
    text-align: center;
}
.languageWrapper{
    width: 100%;
    text-align: center;
    margin-top:0.8em ;
}
.language{
    color: #5B3256;
    margin-right: 1em;
    width: 25%;
    display: inline-block;
}
.language--name{
    margin: 0.25em;
}



/* #6a1b9a
900
#4a148c */

.scene {
	background: #f3e5f5;
}

.scene path:first-child {
	fill: #e1bee7;
}

.scene path:nth-child(2) {
	fill: #ce93d8;
}

.scene path:nth-child(3) {
	fill: #ba68c8;
}

.scene path:nth-child(4) {
	fill: #ab47bc;
}

.scene path:nth-child(5) {
	fill: #9c27b0;
}

.scene path:nth-child(6) {
	fill: #8e24aa;
}

.scene path:nth-child(7) {
	fill: #7b1fa2;
}

@media only screen and (max-width: 991px)  {
    .contentCard{
        width: 100%;
    }
    .header{
        height: 8%;
    }
    .presentation-subtitle {
        top:1rem;
    }
    .section1{
        height: 35%;
    }
    .section2{
        height: 20%;
    }
    .skillsCard{
        top:0.5rem
    }
    .experienceCard{
        top: 4rem;
    }
    .personalProjectCard {
        top: 20rem;
    }
    .educationCard{
        top: 22rem;
    }
    .interestCard{
        top: 45rem;
    }
    .homeWrapper{
        height:152em;
    }

}

@media only screen and (max-width: 640px)  {
    .contentCard{
        width: 100%;
    }
    .header{
        height: 7%;
    }
    .presentation-subtitle {
        top:1rem;
    }
    .section1{
        height: 35%;
    }
    .section2{
        height: 20%;
    }
    /* .skillsCard{
        top:1rem
    } */
    .experienceCard{
        top: 4rem;
    }
    .personalProjectCard {
        top: 19.5rem;
    }
    .educationCard{
        top: 26.5rem;
    }
    .interestCard{
        top: 47rem;
    }
    .homeWrapper{
        height:152rem;
        width: 43rem;
    }
    .motivationWrapper{
        top: 156rem;
        width: 43rem;
        height: 80rem;
    }
    .cvRoot{
        width: 43rem;
        height: 246rem;
    }
}
/*ipad portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (max-height:1024px) and (orientation : portrait) {
    .motivationWrapper{
        top: 160rem;
        height: 80rem;
    }
    .cvRoot{
        width: 60rem;
        height: 260rem;
    }

    .personalProjectCard {
        top: 19rem;
    }
}


